.sidebar .nav-item:last-child {
  margin-bottom: 0px;
}

.menu-bar {
  background-color: var(--bs-black);
}

.bg-gradient-primary {
  background-color: #000000;
  background-image: linear-gradient(180deg, #000000 10%, #000000 100%);
  background-size: cover;
}

.dropdown-menu {
  --bs-dropdown-border-color: #000000;
}

.menu-bar {
  min-width: 100px;
}

.card-title {
  color: #000000;
}

.field {
  min-height: 10%;
  margin-right: 10px;
  min-width: 10%;
  max-width: 35%;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary:active:focus {
  background-color: #000000;
  border-color: #000000;
  box-shadow: none;
}

.livreures {
  max-width: 100%;
  min-width: 100%;
}

.contain {
  max-width: 125%;
  min-width: 50%;
  height: auto;
}

.swap {
  margin-left: 0px;
  padding-left: 0px;
  height: 100vh;
  margin-left: 1%;
}

.side-bar2 {
  padding-top: 10%;
  background-color: var(--bs-gray-400);
}
.card shadow{
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.ss{
  min-width: 100%;
}
.add-livraison{
  min-width: 100%;
  min-height: 100%;
}

.add-livraison > input, .add-livraison > select, .add-livraison > btn {
  min-width: 30%;
  margin-right: 1%;
  max-height: 35px;
  font-size: 15px;
}

.add-livraison > input:hover, .add-livraison > select:hover {
  background-color: #e6e4e4;
}

.add-livraison > input:focus, .add-livraison > select:focus {
  border-color: #000000;
}

.side-bar2 {
  padding-bottom: 50px;
}

.user-info {
  color: #000000;
  margin-right: 15px;
}

.livraison {
  margin-right: 10px;
}

.global {
  margin-bottom: 20px;
}

.stat {
  max-width: 50%;
}

.stat-row {
  max-height: 50%;
}

.tbody-stat {
}

.table-stat {
  margin-top: 10px;
  max-height: 60%;
  min-height: 100%;
}

.stat-row {
  margin-top: 20px;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal-body {padding: 2px 16px;}
.suggestion{
    border: dashed;
}
.suggest:hover{
    background: #c2cbe5;
}
.card-livraison{
    zoom: 90%;
}
